[Unit]
Description=Duster daemon
After=pigpiod.service networking.service

[Service]
Type=simple
ExecStart=(path to duster)/duster (path_to_config.yml)
Restart=on-failure

[Install]
WantedBy=multi-user.target
